html, body {
    font-family: 'Inter', sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.testeo{
    display: flex;
    flex-direction: row;
    
}

.carta {
    width: min(12vw, 160px);
    min-width: 160px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #353941;
    background:#26282B;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .carta img {
        width: 100%;
        height: 180px;
        border-radius: 10px;
        border: 2px solid #26282B;
    }

.carta-body {
    margin-top: -10px;
}

.stats {
    font-size: 13px;
    padding-top: 8px;
}

.carta-footer{
    font-size: 10px;
    margin-top: -10px;
}


.mazo {
    width: 160px;
    height: 282px;
    border-radius: 10px;
    border: 1px solid #353941;
    background: linear-gradient(180deg, #353941, #26282B);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
    position: fixed;
    left: 260px;
    bottom: 0%;
}

.cementerio {
    width: 160px;
    height: 282px;
    border-radius: 10px;
    border: 1px solid #353941;
    background: linear-gradient(180deg, #353941, #26282B);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
    position: fixed;
    right: 1%;
    bottom: 0%;
}

.header {
    display:flex;
}

.hp {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    transform: scale(2);
}

    .hp span {
        font-size: 14px;
        margin-bottom: 5px;
    }

.hp.jugador{
    position: fixed;
    right: 3%;
}

.hp.rival{
    position: fixed;
    left: 15%;
}


.tablero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -50px;
}

.separadorTablero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separadorTablero span {
    padding: 5px 15px;
    background: #26282B;
    border: 2px solid #353941;
    border-radius: 10px;
    color: #90B8F8;
    font-weight: bold;
}


.campo {
    width: min(12vw, 160px);
    min-width: 160px;
    aspect-ratio: 160/282;
    height: auto;
    border-radius: 10px;
    border: 1px solid #353941;
    background: linear-gradient(180deg, #353941, #26282B);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}

.mano {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartasMano{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.cartasMano .carta {
    transform: scale(0.9);
    transform-origin: center;

}

.cartasMano .carta:hover {
    transform: scale(1.05) translateY(-10px);
    z-index: 10;
}

.cartasMano .carta:hover img {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #26282B;
    color: #90B8F8;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5vh;
    font-size: 16px;
}

.mainMenu h1 {
    border: none;
    height: -1px;
    background: linear-gradient(90deg, transparent, #353941, transparent);
    margin: 15px 0;
}

.partidaCurso {
    background: #353941;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #90B8F855;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    text-align: center;
    max-width: 450px;
}

.btnContinuar {
    border: 2px solid #90B8F855;
}

.btnContinuar:hover {
    border-color: #353941;
    background: #90B8F855 !important;
}


.nav-scrollable {
    background-color: #353941;
}

.top-row {
    background-color: #353941 !important;
}

    .top-row.navbar {
        background-color: #26282B !important;
    }

.nav-link {
    color: #90B8F8 !important;
}

    .nav-link.active {
        color: #5F85DB !important;
        background-color: #26282B !important;
    }

.loginInput {
    background-color: #353941;
    color: #90B8F8;
}

.btn {
    background-color: #353941 !important;
    color: #90B8F8;
    
}

.partida {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 200px;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: repeating-linear-gradient( 45deg, rgba(255,255,255,0.015) 0px, transparent 6px, transparent 12px );
}


.login-container::before,
.login-container::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 300px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    transform: rotate(-12deg);
    filter: blur(1px);
}

.login-container::before {
    top: 10%;
    left: 10%;
}

.login-container::after {
    transform: rotate(8deg);
    bottom: 10%;
    right:10%;
    width: 260px;
    height: 340px;
}


form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: #202124;
    padding: 20px;
    border-radius: 10px;
}




.login-buttons {
    margin-top: 15px;
    margin-bottom: -15px;
    display: flex;
    gap: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1366px) {
    .mazo {
        transform: scale(0.8) !important;
        transform-origin: center !important;
    }

    .separadorTablero {
        margin-top: 25px;
        margin-bottom: -25px;
    }

    .hp.rival {
        left: 23%;
    }

    .cementerio {
        transform: scale(0.8) !important;
        transform-origin: center !important;
    }

    .mano {
        transform: scale(0.80) !important;
        transform-origin: center !important;
    }

    .tablero {
        transform: scale(0.8) !important;
        transform-origin: center !important;
        margin-bottom: -100px;
    }
}

