@page "/"
@using Proyecto_Cartas.Server.Client.Layout
@using System.Text.RegularExpressions
@layout LoginLayout
@inject IHttpServicio http
@inject SesionUsuario Sesion
@inject NavigationManager navHttp
@inject IJSRuntime js

<PageTitle>Login</PageTitle>
<div class="title">
<h1>Proyecto Cartas</h1>
<img src="img/logo.png" class="logo" />
</div>
<form @onsubmit="OnRegister">
    <label for="email">Email:</label><br />
    <input class="loginInput" type="email" @bind="Email" placeholder="Ingrese su email" /><br />

    <label for="password">Contraseña:</label><br />
    <input class="loginInput" type="password" @bind="Password" placeholder="Ingrese su contraseña" /><br />

    <div class="login-buttons">
    <button class="btn loginButton" type="button" @onclick="OnLogin">Iniciar sesión</button> 
    <button class="btn loginButton" type="submit" >Registrarse</button>
    </div>

    <p style="margin: 20px">@LoginStatus</p>
</form>
@if (mostrarPopup)
{
    <div style="position: fixed; top: 20px; right: 20px; background-color: lightblue; padding: 15px; border: 1px solid blue; border-radius: 5px; z-index: 1000;">
        @mensajeRecibido
        <button style="margin-left: 10px;" @onclick="CerrarPopup">Cerrar</button>
    </div>
}


@code{
    private string Email { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    private string LoginStatus { get; set; } = string.Empty;
    private HubConnection? hubConnection;
    private string mensajeRecibido = string.Empty;
    private bool mostrarPopup = false;

    private void CerrarPopup()
    {
        mostrarPopup = false;
    }

    private bool EmailValido(string email)
    {
        return !string.IsNullOrEmpty(email) && Regex.IsMatch(email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$");
    }

    private async Task OnLogin()
    {

        var usuario = new UsuarioAuthDTO()
        {
            Email = Email,
            Password = Password
        };

        var httpResp = await http.Post<UsuarioAuthDTO, int>("https://localhost:7192/api/usuario/login", usuario);

        if (!httpResp.Error)
        {
            var id = httpResp.Respuesta;
            if (id != 0)
            {
                Sesion.UsuarioId = id;
                await js.InvokeVoidAsync("localStorage.setItem", "UsuarioId", id.ToString());

                LoginStatus = "✅ Login successful!";

                var perfilResp = await http.Get<PerfilUsuarioDTO>($"api/PerfilUsuario/{id}");

                if (!perfilResp.Error && perfilResp.Respuesta != null)
                {
                    navHttp.NavigateTo($"/menuPrincipal");
                }
                else
                {
                    navHttp.NavigateTo($"/crearPerfil");
                }

                return;
            }   
        }
        else
        {
            var error = httpResp.ObtenerError();
            var mensajeError = await httpResp.HttpResponseMessage.Content.ReadAsStringAsync();
            LoginStatus = $"❌ {error}: {mensajeError}";
        }
    }
    
    private async Task OnRegister()
    {
        
        if(!EmailValido(Email))
        {
            return;
        }
    
        var nuevoUsuario = new UsuarioAuthDTO()
        {
            Email = Email,
            Password = Password
        };

        var httpResp = await http.Post<UsuarioAuthDTO, MensajeRespuestaDTO>("https://localhost:7192/api/Usuario/register", nuevoUsuario);

        if (!httpResp.Error)
        {
            LoginStatus = $"✅ {httpResp.Respuesta?.Mensaje}";
        }
        else
        {
            var mensajeError = await httpResp.HttpResponseMessage.Content.ReadFromJsonAsync<MensajeRespuestaDTO>();
            LoginStatus = $"❌ Registration failed: {mensajeError?.Mensaje}";
        }
    }
}