@page "/usuarios"
@using Proyecto_Cartas.Shared.DTO
@inject HttpClient Http

<PageTitle>Usuarios</PageTitle>

<h1>Usuarios</h1>

@if (usuarioLista == null)
{
    <p><em>Cargando...</em></p>
    return;
}


<p>
    @foreach (var usuario in usuarioLista)
    {
        <div>
            <strong>Id:</strong> @usuario.Id
        </div>
        <div>
            <strong>Nombre:</strong> @usuario.Nombre
        </div>
        <div>
            <strong>Email:</strong> @usuario.Email
        </div>
        <hr />
    }

</p>


@code {
   private List<UsuarioListadoDTO>? usuarioLista;

   protected override async Task OnInitializedAsync()
    {
        usuarioLista = await Http.GetFromJsonAsync<List<UsuarioListadoDTO>>("https://localhost:7192/api/usuario/lista");
    }
}
